::-webkit-scrollbar {
  width: 0.8rem;
  height: 0.8rem;
}
::-webkit-scrollbar-thumb {
  border: thin solid #b8b8b8;
  background: #c0c0c0;
}
::-webkit-scrollbar-thumb:hover {
  border: thin solid #a8a8a8;
  background: #b0b0b0;
}
::-webkit-scrollbar-thumb:active {
  border: thin solid #989898;
  background: #a0a0a0;
}
::-webkit-scrollbar-track {
  background: #e8e8e8;
}
